<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-image:url('https://truongquochoc.com/wp-content/uploads/2020/10/top-30-hinh-nen-3d-full-hd-dep-nhat-the-gioi-sieu-net-2.jpg') ;">
    <h3> Code : <%= users.employeeCode %></h3>
    <h3> Name :<%= users.name %> </h3>
    <h4> Age :<%= users.age %> </h4>
    <h4> Salary :<%= users.salary %> </h4>
    <h4> Branch :<%= users.branch %> </h4>
    <a href="/" class="btn btn-primary">Back to List</a>
</body>
</html>